.skillsTopDiv{
    margin:2% !important;
    padding: 2% !important;
}
.skillMainDiv{
    margin:2% !important;
    padding: 2% !important;
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.skillHeader{
    font-size: 2vw;
    color: white;
    font-family: 'Sen !important';
}
.SkillsDiv{
    width: 50%;
    min-height: 400px;
    height: 100%;
    background-color: transparent;
    margin:auto;
    perspective: 1000px;
    font-size: 1.5vw;
}

/* flip code  */
.innerDiv{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.frontendDiv, .backendDiv{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 7px;
}

.frontendDiv{
    background-image: url('../../assets/background2.jpg');
    padding: 20%;
    font-weight: 50 !important;
    /* transform: rotateY(180deg); */
    color: black;
}

.backendDiv{
    background-color: rgb(236, 136, 90);
    transform: rotateY(180deg);
    padding: 10%;


}

.SkillsDiv:hover .innerDiv{
    transform:  rotateY(180deg);
}

.stylefront{
    padding: 5%;}


/* Media query for desktop */
@media (min-width: 1024px) {
    
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* Media query for mobile */
@media (max-width: 767px) {
    .skillsTopDiv{
        margin:2% !important;
        padding: 2% !important;
    }
    .skillMainDiv{
        margin:2% !important;
        padding: 2% !important;
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
    .skillHeader{
        font-size: 5vw;
        color: white;
        font-family: 'Sen !important';
    }
    .SkillsDiv{
        width: 80%;
        min-height: 200px;
        height: 100%;
        background-color: transparent;
        margin:auto;
        perspective: 1000px;
        font-size: 3vw;
    }
}