.Contactouterdiv{
    display: grid;
    grid-template-rows: 1fr 11fr;   
    padding: 2%;
    padding-top: 0px;
}

.contactHead{
    font-size: 2.3vw;
    color: white;
    text-align: center;
    font-weight: bolder;
}
.contactMaindiv{
    display: grid;
    color: white;
    margin: 2%;
}
/* //left side  */
.ContactEmail{
    display: grid;
    grid-template-rows: 0.01fr 0.1fr 0.1fr;
    margin-left: 250px !important;
    margin-top: 50px;
    /* row-gap: 10px; */
}  
.contact-lets{
    margin-top: 25px;
    font-weight: bold;
    font-size:x-large;
} 
.contact-con{
    font-size: 4vw;
    color:#fff500;
}
.perEmail{
    display: flex;
    flex-direction: row;
    gap:10px

}
/* right side */
.contactBox{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    background-color: #a3ff90;
    padding: 5%;
    margin: 2%;
    width: 30vw;
    border-radius: 3px;
    color: black;
    font-weight:bold;
}
.contactElements{
    display: grid;
    row-gap: 10px;
}

.contactinputDiv{
    display: grid;
    grid-template-columns: 4fr 8fr;
}

.contactButton{
    display: flex;
    flex-direction: row-reverse;   

}
.contactButtons{
    padding: 5px;
    
}
input,textarea{
    border-radius: 5px;
    border: 0px;
    background-color: #e6e6e6;
}

/* Media query for desktop */
@media (min-width: 1024px) {
    .contactMaindiv{
        grid-template-columns: 6fr 6fr;       
    }
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .contactMaindiv{
        grid-template-columns: 6fr 6fr;      
    }
}

/* Media query for mobile */
@media (max-width: 767px) {    
    .Contactouterdiv{
        display: grid;
        grid-template-rows: 1fr 11fr;
        margin: 2%;
        padding: 2%;
    }
    
    .contactHead{
        font-size: 5vw;
        color: white;
        text-align: center;
    }

    .contactMaindiv{
        display: grid;
        grid-template-rows: 6fr 6fr  !important;
        color: white;
        /* margin-bottom: 2%; */
    }
    .contact-con{
        font-size: 7vw;
        color:#fff500;
    }

    .contactBox{
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 5px;
        background-color: #D8DAF6;
        padding: 5%;
        margin: 0%;
        width: 100%;
        border-radius: 3px;
        color: black;
        font-weight:bold;
    }
    .contactElements{
        display: grid;
        row-gap: 10px;
    }
    
    .contactinputDiv{
        display: grid;
        grid-template-columns: 4fr 8fr;
    }
    
    .contactButton{
        display: flex;
        flex-direction: row-reverse;   
    
    }
    .contactButtons{
        padding: 5px;
        
    }
    input,textarea{
        border-radius: 5px;
        border: 0px;
        background-color: #807E7E;
    }


}

