.Intro-MainDiv{
   
    border: 1px solid white !important;
    color:black !important;
    padding: 5% !important;
    margin: 5% !important;
    background-color: #F5F5F5 !important;
    border-radius: 15px !important;
    width: 90% !important;
    display: grid;
    grid-template-columns: 8fr 4fr;
    
}

.introclasscont{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 10px;
}

.introbutton{
    min-width: 120px;
    width: 15%;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    top: 0px;
    height: 35px;
    font-size: 13px;
    margin-top: 15px;
}

.introHello{
    font-size: 1.5vw;
    font-weight: bold;
}

.introPraveen{
    font-size: 7.5vw;
    font-weight: bold;
}
.introfront{
    font-size: 1.5vw;
    font-weight: normal;
}

.avatarimg{
    width: 3vw !important;
    height: 3vw !important;
}
/* Media query for desktop */
@media (min-width: 1024px) {
    
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* Media query for mobile */
@media (max-width: 767px) {   
    .introclasscont{
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 4px;
    }
    
    .introbutton{
        min-width: 70px;
        width: 15%;
        padding: 4px;
        border-radius: 5px;    
        position: relative;
        top: 0px;  
        height: 20px;  
        font-size: 8px;
    }
    .introHello{
        font-size: 3vw;
        font-weight: bold;
    }
    
    .introPraveen{
        font-size: 8.5vw;
        font-weight: bold;
    }
    .introfront{
        font-size: 2.5vw;
        font-weight: normal;
    }
    .avatarimg{
        width: 5vw !important;
        height: 5vw !important;
    }
}