.Intro-MainDiv{
   
    border: 1px solid white !important;
    color:black !important;
    padding: 5% !important;
    margin: 5% !important;
    background-color: #F5F5F5 !important;
    border-radius: 15px !important;
    width: 90% !important;
    display: grid;
    grid-template-columns: 8fr 4fr;
    
}

.introclasscont{
    display: grid;
    grid-template-rows: repeat(1fr);
}

.introbutton{
    min-width: 120px;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 40px;
}

.introHello{
    font-size: 1.5vw;
    font-weight: bold;
}

.introPraveen{
    font-size: 7.5vw;
    font-weight: bold;
}
.introfront{
    font-size: 1.5vw;
    font-weight: normal;
}